.carousel {
  display: none;
}

.catalog {
  display: none;
}

.feed {
  display: none;
}

.footer {
  display: none;
}


@media (max-width:1200px) {
  .header {
    &__logo {
      margin-left: 2rem;

      img {
        width: 70%;
      }
    }

    &__contacts {
      margin-right: 5rem;
    }
  }

  .promo {

    &__wrapper {
      margin-right: 10rem;
      width: 85%;

    }
  }

  .consultation {
    &__block {
      margin-left: 4rem;
    }
  }

}

@media (max-width:992px) {
  .carousel {
    &__inner {
      width: 100%;
    }

    width: 100%;

    img {
      width: 40%;
    }
  }

  .catalog {
    .title {
      font-size: 20px;
    }

  }

  .catalog {
    &__content {
      justify-content: center;
    }

  }

}

@media (max-width:768px) {
  .header {
    &__contacts {
      // margin-top: 2rem;
      margin-right: 1rem;
    }

    &__phone {
      font-size: 1rem;
    }

    span {
      display: block;
      margin: 0 auto;
      text-align: center;
      font-size: 1rem;
    }

    .button {
      width: 80%;
    }
  }

  .promo {
    width: 100%;

    &__header {
      font-size: 2rem;
    }

    &__wrapper {
      width: 100%;
      margin-right: 0;
      justify-content: flex-start;
      align-items: flex-start;
    }

    &__subheader {
      font-size: 1rem;

    }

    .button_main {
      width: 40%;
      margin: 2rem auto;
      text-align: center;
    }
  }

  .consultation {
    .title_left {
      font-size: 2rem;
    }

    &__descr {
      font-size: 1rem;
    }

    &__block {
      width: 60%;
    }

    .feed-form {
      margin-top: 36px;
      display: flex;
      flex-direction: column;
      width: 45%;
    }

    .button_submit {
      width: 100%;
      font-size: 0.8rem;
    }
    .error {
      font-size: 0.5rem;
    }
    





  }


  @media (max-width:576px) {
    .promo {
      &__header {
        margin-left: 1rem;
        font-size: 1rem;
      }

      &__subheader {
        margin-left: 1rem;
        font-size: 0.5rem;
      }

      .button_main {
        padding: 0 0;
        width: 36%;
        font-size: 10px;
      }

      &__wrapper {
        width: 100%;
      }

      &__link {
        margin-left: 1rem;
      }
    }

    .consultation {
      .title_left {
        font-size: 2rem;
      }

      &__descr {
        font-size: 1rem;
      }

      &__block {
        width: 60%;
      }

      .feed-form {
        margin-top: 36px;
        display: flex;
        flex-direction: column;
        width: 45%;
      }

      // .button_submit {}

      @media (max-width:481px) {
        .header {
          &__contacts {
            // margin-top: 2rem;
            margin-right: 1rem;
          }

          &__phone {
            font-size: 0.5rem;
          }

          span {
            display: block;
            margin: 0 auto;
            text-align: center;
            font-size: 1rem;
          }

          .button {
            margin-top: 1rem;
            padding: 0;
            width: 70%;
            height: 20%;
            font-size: 0.4rem;
          }
        }

        .advantages {
          padding-left: 1rem;

          &__item {
            width: 50%;
          }

          img {
            width: 30%;
          }

          &__subtitle {
            font-size: 0.8rem;
          }

          &__descr {
            font-size: 0.5rem;
          }
        }

        .promo {
          padding: 0;

          &__icons {
            margin: 3rem auto;
            width: 80%;
            column-gap: 1rem;
          }

          .button_main {
            padding: 0 0;
            width: 36%;
            font-size: 9px;
          }

          &__wrapper {
            margin-top: 3rem;
          }

          &__link {
            margin-top: 0;
          }

        }

      }



    }
  }
}