@import 'libs/bootstrap-reboot.min';
@import 'libs/font';
@import 'libs/slick';
@import 'libs/animate';
@import 'base/variables';
@import 'base/animations';

input {
    margin-top: 1rem;
}

.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url("../img/women.svg") center (center/cover) no-repeat;
}

body {
    background-color: darkorange;
}

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {

    max-width: 950px;
    margin: 0 auto;
    // padding: 0 1rem;
}

.slick-slide img {
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header.scss';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/titles';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/feed';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';
@import 'base/media'